<% layout('layout') -%>

<h2>Your Account</h2>

<p>You're signed in as <%= user.name %>.</p>

<p>In the future useful account settings might appear here, but for now all you can do is delete your account.</p>

<a href="/account/delete" class="btn btn-red confirm">Delete my account</a>