<% layout('layout') -%>

<div class="units-row">

  <div class="unit-60">
    <h2>My Stories</h2>
    
    <section class="story">
      <h3>Example Story</h3>

      <p>Summary / status / whatever</p>

      <a href="#" class="btn btn-big btn-green">Write!</a>
      <a href="#" class="btn btn-small btn-black">Edit</a>
      <a href="#" class="btn btn-small btn-red">Delete</a>
    </section>
  </div>

  <div class="unit-40">
    <h2>New Story</h2>
    <p>Some fascinating portents and warnings about what is to come will live in this copy here.</p>
    <a href="/new" class="btn btn-big btn-blue">Create</a>
  </div>

</div>