<!doctype html>
<html>
  <head>
    <title>An Ancient Tome | Collaborative Interactive Fiction</title>
    <link rel="stylesheet" href="/css/kube.min.css">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/all" />
  </head>
  <body>
    <% if (info) { %>
      <% info.forEach(function(msg) { %>
        <div class="flash">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <% if (error) { %>
      <% error.forEach(function(msg) { %>
        <div class="flash flash-error">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <% if (reward) { %>
      <% reward.forEach(function(msg) { %>
        <div class="flash flash-reward">
          <div class="wrapper">
            <%= msg %>
          </div>
        </div>
      <% }); %>
    <% } %>
    <div id="content">
      <div class="wrapper">

        <h1>An Ancient Tome</h1>

        <h2>Collaborative Interactive Fiction</h2>

        <nav id="home-nav">
          <a href="/auth/twitter">Log in with Twitter</a>
        </nav>

        <p>An Ancient Tome is a game where you write short stories with your friends.</p>

        <p>You and your co-authors receive a randomly-generated Environment. You respond by taking the story in whatever direction you want!</p>

        <p>By writing frequently you gain Influence. Influence can be used to modify the Environment. For example, the Environment might say "A giant ogre is here." You could spend Influence to remove the ogre. Then you could write the the removal of the ogre into your story. Did the hero slay it? Did it get bored and amble away? That's up to you!</p>

        <p>Want to know what it's like? <a href="http://anancienttome.com/read/5262cc4e159f410000000001">Check out this public story</a>.</p>

      </div>
    </div>

    <div id="fineprint">
      <a href="http://www.flickr.com/photos/75905404@N00/6014852919/in/photostream/">Image Credit</a>
    </div>

  </body>
</html>
