<% layout('layout') -%>

<div class="units-row">

  <div class="unit-centered unit-50">

    <br>
    <h1><%= userCount %> users have written</h1>
    <h1><%= chapterCount %> chapters in</h1>
    <h1><%= storyCount %> stories.</h1>

  </div>

</div>
