<% layout('layout') -%>

<div class="units-row">

  <div class="unit-50">

    <h2>Invite co-authors to <%= story.title %></h2>

    <form method="post" action="/invite/<%= story.id %>/post" id="invite" class="forms">
      <label>
        Twitter name
        <input type="text" id="name" name="name" value="" size="40" />
      </label>
      <p>
        <input type="submit" class="btn" value="Invite!">
      </p>

    </form>

  </div>

  <div class="unit-50">

  <h2>Current co-authors</h2>

  <% if (invites.length < 1) { %>
    <p>None currently.</p>
  <% } else { %>

    <ul>
      <% invites.forEach(function(invite) { %>
        <li>
          <a href="http://twitter.com/<%= invite.invited %>">@<%= invite.invited %>
            <% if (invite.accepted) { %>
              (accepted)
            <% } %>
        </li>
      <% }); %>
    </ul>

  <% } %>

</div>