<% layout('layout') -%>

<p>Right now we support Twitter login.</p>

<p>Do you not have Twitter? Do you hate Twitter? Sorry! We gotta start somewhere!</p>

<a href="/auth/twitter">log in with twitter</a>