<% layout('layout') -%>

<div class="units-row">

  <div class="unit-60">
    <h2>Manual</h2>

    <h3 id="privacy">Privacy settings</h3>

    <p>This is an explanation of the settings you choose when you create a new story.</p>

    <h4>Read</h4>
    
    <ul>
      <li><strong>Anybody</strong> - Anyone can read this story. It appears in the Search and Random features. You can read the story using its URL even if you are not logged in. The story will have a public RSS feed.</li>
      <li><strong>People I Invite</strong> - No one can see this story until you invite them. It does not appear in the Search and Random features. You must be logged in to see the story. The story will not have an RSS feed.</li>
    </ul>

    <h4>Write</h4>
    
    <ul>
      <li><strong>Anybody</strong> - Anyone can add new chapters to this story, as long as they are signed in.</li>
      <li><strong>People I Invite</strong> - Only you can add chapters to this story until you invite other people.</li>
      <li><strong>Just Me</strong> - Only you can add chapters to this story, no matter what.</li>
    </ul>

    <p>Invites count for both reading and writing. If you have both read and write set to "People I Invite" then everyone who is invited can both read and write.</p>

    <h3 id="influence">Influence and Environments</h3>

    <p>You have Influence points for every story you contribute to. You start out with 0 and get them when you post new chapters.</p>

    <p>Influence points are used to modify the Environment. Each story has an Environment based on the Theme chosen when the story was created. The Environment is a list of randomly-generated writing prompts. They are a "suggestion" of how to carry the story forward. Writing prompts are a great way to get your creative juices flowing, but you can ignore them if you want! Every story starts with one prompt in its Environment. The option to modify the Environment is given when you write a new chapter.</p>

    <p>The number of Influence points you earn when you post a chapter depends on how recent your last post was. Here is a chart explaining it:</p>

    <table class="width-100 table-striped">
      <thead>
        <td>Recency of last chapter you wrote</td>
        <td>Influence reward</td>
      </thead>
      <tr>
        <td>never</td>
        <td>5</td>
      </tr><tr>
        <td>under 12 hours</td>
        <td>0</td>
      </tr><tr>
        <td>12 - 36 hours</td>
        <td>5</td>
      </tr><tr>
        <td>36 hours - 3 days</td>
        <td>3</td>
      </tr><tr>
        <td>3 - 7 days</td>
        <td>1</td>
      </tr><tr>
        <td>over 7 days</td>
        <td>0</td>
      </tr>
    </table>

    <p>As you can see, you gain the most Influence by posting once a day. Posting several times in a row doesn't gain you extra Influence, but it doesn't hurt either.</p>

    <h3 id="writing-tips">Writing tips</h3>

    <p>Write in the third person. Your story might have one shared protagonist, or more, or perhaps one protagonist per author, but in any case, it's easier to read if the perspective isn't changing frequently.</p>

    <p>Move the story forward in every chapter. You should describe the setting and the characters and so on, but that shouldn't be all you do. Something should always be happening.</p>

    <p>Feel free to end your chapter with a prompt for the next author. This builds a sense of drama and is just plain fun.</p>

    <p>If you're not sure what to write about, just make something crazy happen. This is a game, after all!</p>

  </div>

  <div class="unit-40">
    <h3>Table of Contents</h3>
    <ol>
      <li><a href="#privacy">Privacy settings</a></li>
      <li><a href="#influence">Influence and Environments</a></li>
      <li><a href="#writing-tips">Writing tips</a></li>
    </ol>
  </div>

</div>