<% layout('layout') -%>

<h2>Let's write a story...</h2>

<form method="post" action="/new/post" id="new" class="forms forms-columnar">
  <p>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" class="width-100" value="">
  </p>
  <p>
    <label>Theme</label>
    <select name="theme" class="width-100">
      <% themes.forEach(function(theme) { %>
        <option><%= theme %></option>
      <% }); %>
    </select>
  </p>
  <p>
    <label>Who can read it?</label>
    <select name="read" class="width-100">
      <option value="public">Anybody</option>
      <option value="invite">People I Invite</option>
    </select>
  </p>
  <p>
    <label>Who can write it?</label>
    <select name="write" class="width-100">
      <option value="public">Anybody</option>
      <option selected value="invite">People I Invite</option>
      <option value="private">Just Me</option>
    </select>
  </p>
  <p>
    <input type="submit" class="btn btn-blue" value="Create!">
  </p>
</form>