<% layout('layout') -%>

<h2>Built using Open and Free technology</h2>

<p><a href="http://opensource.com/resources/what-open-source">What is open source?</a></p>

<h3>The code</h3>

<a href="https://github.com/incompl/stories/">An Ancient Tome on Github</a>

<h3>The platform</h3>

<p>Built using open source technology, such as...</p>

<ul>
  <li><a href="http://nodejs.org/">Node.js</a>
  <li><a href="http://expressjs.com/">Express</a>
  <li><a href="http://www.mongodb.org/">mongoDB</a>
  <li><a href="http://jquery.com/">jQuery</a>
  <li><a href="http://imperavi.com/kube/">Kube</a>
</ul>

<h3>The hosting</h3>

<p>Hosted by awesome companies</p>

<ul>
  <li><a href="http://heroku.com/">Heroku</a>
  <li><a href="http://compose.com/">Compose</a>
  <li><a href="http://cloudflare.com/">Cloudflare</a>
</ul>
