html {
  height: 100%;
}

body {
  height: 100%;
  padding: 5em 0 0;
  background-color: #922908;
  background-image: url('/img/bg.jpg');
  background-size: cover;
  background-position: center;
}

#content {
  background: white;
  /* Yeah I used outline, what you gonna do about it? */
  outline: solid rgba(0,0,0,.3) 2px;
  color: #444;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1.5em 1em;
  border-radius: 4px;
}

#home-nav {
  text-align: center;
}

h1 {
  margin: 0;
  padding: .8em 0 0;
}

h1, h2 {
  text-align: center;
}

#fineprint {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .1em .5em;
}

#fineprint a:link, #fineprint a:visited {
  color: #ccc;
  text-shadow: 1px 1px 0 black;
}