@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

header {
  padding: .7em 1em;
  font-size: 1.2em;
}

header a {
  text-decoration: none;
}

header p {
  margin: .5em 0 0;
  font-size: .9em;
  font-family: 'Libre Baskerville', serif;
  color: #7F90A3;
}

h1 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  text-shadow: 1px 1px 0 hsla(0, 0%, 0%, .7);
}

h2 {
  margin: .5em 0 .8em;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  margin: .5em 0;
  font-family: 'Libre Baskerville', serif;
}

p {
  margin: 1em 0;
}

nav {
  padding: .4em 1em .3em;
  font-size: 1.2em;
  background: #369;
  color: hsla(0, 0%, 100%, .3);
}

nav a {
  margin: 0 1em 0 0;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, .7);
}

.wrapper {
  max-width: 780px;
  margin: 0 auto;
}

.flash {
  background: #080;
  color: white;
  padding: .5em 1em;
  margin: .3em 0;
}

.flash-error {
  background: #800;
}

.flash-reward {
  background: #6828AD;
}

#content {
  padding: 1em;
}

.story {
  background: #C8D9EA;
  padding: 1em;
  margin: 1em 0;
}

.story h3 {
  margin: 0 0 .7em;
}

.story-info {
  margin: 0 0 1em;
  line-height: 2em;
}

.story-info>span {
  background: hsla(0, 0%, 100%, .6);
  padding: 3px;
  margin: 3px;
  white-space: nowrap;
}

.chapter-buttons {
  text-align: center;
  margin: 0 0 1em;
}

.environment {
  font-size: 1.2em;
  color: green;
  font-weight: bold;
}

.influence {
  font-weight: bold;
  color: purple;
}

#new {
  max-width: 400px;
  margin: 0 auto;
}

#invite {
  max-width: 400px;
  margin: 0 auto;
}

#char-limit {
  color: green;
}

#char-limit.invalid {
  color: red;
}

#char-limit.emphasis {
  background: yellow;
}

.chapter {
  padding: .5em 0;
}

.chapter-info {
  color: #A0A0A0;
}

.no-chapters {
  margin: 1em 0 0;
  font-size: 1.5em;
}

.chapter-links {
  margin: 1em 0 0;
}

footer {
  padding: .2em;
  text-align: center;
}