header {
  padding: 1em;
}

h1 {
  margin: 0;
}

h2 {
  margin: .5em 0;
}

p {
  margin: 1em 0;
}

nav {
  padding: .5em 1em;
  font-size: 1.2em;
  background: #ddd;
}

.side-menu {
  float: right;
}

.wrapper {
  max-width: 780px;
  margin: 0 auto;
}

.flash {
  background: #080;
  color: white;
  padding: .5em 1em;
  margin: .3em 0;
}

.flash-error {
  background: #800;
}

#content {
  padding: 1em;
}

.story {
  background: #ccf;
  padding: 1em;
  margin: 1em 0;
}

#new {
  max-width: 400px;
  margin: 0 auto;
}

#invite {
  max-width: 400px;
  margin: 0 auto;
}

#char-limit {
  color: green;
}

#char-limit.invalid {
  color: red;
}

#char-limit.emphasis {
  background: yellow;
}

.chapter {
  padding: .5em 0;
  border-bottom: solid gray 2px;
}

.chapter-links {
  margin: 1em 0 0;
}